{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.roadmap.roadmap }}
{{"<!-- Start Counter Section -->" | safeHTML}}
<section id="roadmap" class="section" style="background-color: floralwhite;">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
              <h2><span class="color">Roadmap</span></h2>
              <div class="border-meghna"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline4">
                      {{ range .roadmap_item }}
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">{{ .time | markdownify }}</span>
                                <div class="inner-content">
                                    <h3 class="title">{{ .title | markdownify }}</h3>
                                    <p class="description">
                                      {{ .content | markdownify }}
                                    </p>
                                </div>
                            </a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
<!--         <div class="container">
            <source type="image/webp" srcset="{{ .bg_image_webp | absURL }}" />
            <img src="{{ .bg_image | absURL }}" alt="Roadmap" width="100%" height="auto" />
        </div> -->
    </div>
</section>
{{"<!-- /Counter Section -->" | safeHTML}}
{{ end }}