{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.roadmap.roadmap }}
{{"<!-- Start Counter Section -->" | safeHTML}}
<section id="blog" class="section">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
              <h2><span class="color">Roadmap</span></h2>
              <div class="border-meghna"></div>
            </div>
          </div>
        <div class="container">
            <source type="image/webp" srcset="{{ .bg_image_webp | absURL }}" />
            <img src="{{ .bg_image | absURL }}" alt="Roadmap" width="100%" height="auto" />
        </div>
    </div>
</section>
{{"<!-- /Counter Section -->" | safeHTML}}
{{ end }}