{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.team.team.enable }}
{{ with $data.team.team }}
{{"<!-- Start Our Team -->" | safeHTML}}
<section id="team" class="pb-5">
    <div class="container">
        <div class="col-lg-12">
            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
              <h2> <span class="color"> {{ .title }}  </span></h2>
              <div class="border-meghna"></div>
            </div>
          </div>
          {{"<!-- /section title -->" | safeHTML}}
        <div class="row">
            {{ range .team_member }}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <!-- <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p> -->
                                    <p> <img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}"> </p>
                                    <h4 class="card-title">{{ .name }}</h4>
                                    <h2 class="card-title">{{ .designation }}</h2>
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title"> {{ .title }} </h4>
                                    <p class="card-text">{{ .content }}</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                                <ul class="list-inline">
                                                  {{ range .social }}
                                                  <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                                                  {{ end }}
                                                </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /team -->" | safeHTML}}
{{ end }}
{{ end }}